@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roboto-regular";
  src: url("/public/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("/public/fonts/Roboto-Bold.ttf");
}
